.card-wrapper
  .card
    .card-face.front
      - 9.times do |i|
        %div{style: 'float:left;', class: "a#{i}"}
    .card-face.back
      - 9.times do |i|
        %div{style: 'float:left;', class: "a#{i}"}