// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0px;
}

#table {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background: image-url('felt.png')
}
.card-wrapper {
  perspective: 800px;
  position: absolute;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  .card {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    .card-face {
      background-color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      &.front {
        backface-visibility: hidden;
        transform: rotateY(180deg);
      }
      &.back {
        backface-visibility: hidden;
      }
      .rotate {
        position: absolute;
        height: 20%;
        width: 20%;
      }
      .rotate:nth-child(1) {
        top: 0;
        left: 0;
      }
      .rotate:nth-child(2) {
        top: 0;
        right: 0;
      }
      .rotate:nth-child(3) {
        bottom: 0;
        right: 0;
      }
      .rotate:nth-child(4) {
        bottom: 0;
        left: 0;
      }
    }
  }
  &.selected .card-face {
    box-shadow: 0px 0px 20px #fff;
  }
}

.area {
  position: absolute;
  border: 2px solid white;
  p {
    position: absolute;
    margin: 0;
    padding: 5px;
    bottom: 100%;
    color: white;
  }
}

// .area2 .card {
//   transform: translateZ(200px);
// }